*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #00AAff, #00FF6C)
}

.main-div {
    text-align: center;
    margin-top: 12%;
}

h1,
p,
button {
    margin-top: 3rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: lighter;
}

p {
    font-size: 5rem;
}

button {
    width: 4rem;
    height: 2.2rem;
    margin: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: blueviolet;
}